
---

title: Short Fiction
pagination:
  enabled: true
---
<section class="list">
	{% if site.shortfic.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.pagination.enabled %}
		{% for post in paginator.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include shortfiction.html %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% include pagination.html%}
	{% else %}
		{% for post in site.shortfic %}
			{% if post.category == 'shortfiction' %}
				{% if post.hidden != true %}
					{% include shortfiction.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>
